
#colorwheel {
  display : none;
  position: fixed;
}

span {
  cursor: pointer;
  position: fixed;
  width: 80px;
  height: 30px;
  -ms-transform-origin: -240px 50%;
  -webkit-transform-origin: -240px 50%;
  -moz-transform-origin: -240px 50%;
  -o-transform-origin: -240px 50%;
  transform-origin: -240px 50%;
  opacity: 0.3;
}

span:hover, span:active {
  opacity: 1;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

#instructions {
  display: inline-block;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  z-index: -1;
}